body{
    font:bold 18px arial, helvetica, sans-aerif;
    text-align: justify;
    color: aliceblue;
    background-color: black;
}
button{
    margin-left:0%;
    border-radius: 0%;
    background-color: rgb(255, 223, 44);
}
input{
    border: 10%;
}
#btnListaFranco,#btnListaAdv{
    border-radius:0%;

}

#placarAdv{
    position:relative;
    float:left;
    margin-left:70%;
    margin-top:-3%;  
}
#btnSubstraiDeles{
    position:relative;
    float:left;
    width: 10px;
    height: 10px;
}
